.recent {
  --subtitle-size: 32px;
  --title-size: 60px;
  --camera-icon-size: 40px;
  --nav-gap: 25%;

  /* --album-cover-size: 350px;
  --album-height: 555px;
  --album-title-size: 24px; */

  padding: 80px var(--padding-x);
  background-color: var(--bg-dark);
  color: #fff;
}

.recent__subtitle {
  font-size: var(--subtitle-size);
}

.recent__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent__title {
  font-size: var(--title-size);
  margin-bottom: 8px;
  font-weight: var(--font-regular);
}

.recent__nav {
  width: var(--nav-gap);
  color: #fff;
}

.recent__icon {
  width: var(--camera-icon-size);
}

.recent__folders {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media screen and (max-width: 1110px) {
  .recent {
    --nav-gap: 40%;
  }

  .recent__folders {
    flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  .recent {
    --subtitle-size: 27px;
    --title-size: 50px;
    --camera-icon-size: 35px;
    padding: 60px 35px;
  }
}

@media screen and (max-width: 550px) {
  .recent {
    padding: 55px 25px;
    --nav-gap: 100%;
  }

  .recent__subtitle {
    text-align: center;
  }
  .recent__head {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
  .recent__icon {
    display: none;
  }
}
