.control {
  --control--heading-size: 24px;
  --control--section-title-size: 18px;

  width: 95vw;
  height: fit-content;
  margin: 30px auto;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.control__bottom-menu {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 10px 20px 0px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.control-menu {
  display: flex;
  justify-content: center;
  gap: 25px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.24);
  padding: 20px 30px;
  margin: 0px 150px 50px;
}

.control-menu-button {
  width: 115px;
  height: 115px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

.control-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.control-menu-button:hover > .control-menu-button__icon,
.control-menu-button:hover > .control-menu-button__name {
  opacity: 1;
}

.control-menu-button__icon {
  width: 80px;
  height: 80px;
}

.control-menu-button__name {
  font-size: 15px;
  color: var(--accent);
}

.control-menu-button__icon,
.control-menu-button__name {
  opacity: 0.5;
  transition: 0.25s;
}

.control-form__message {
  height: 20px;
  margin-bottom: 10px;
}

.control-form__message__error {
  color: rgb(143, 30, 30);
}

.control-form__message__success {
  color: green;
}

/*CONTROL - section*/
.control-section {
  padding: 5px;

  display: grid;
  grid-template-rows: max-content max-content 0fr;
  transition: grid-template-rows 0.35s;
}

.control-section__note {
  margin-left: 50px;
  font-size: 14px;
  color: var(--gray);
  font-style: italic;
}

.control-section__content {
  overflow: hidden;
  margin-top: 10px;
}

.--sectionExpanded {
  grid-template-rows: max-content max-content 1fr;
}

.control-section__head {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.control-section__title {
  font-size: var(--control--section-title-size);
  font-weight: var(--font-bold);
}

.control-section__expand-toggle {
  height: 30px;
  width: 30px;
  transition: 0.24s;
}
.--rotateToggle {
  transform: rotate(180deg);
}

/*CONTROL - folder list element*/
.control-folder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
}

.control-folder__head {
  display: flex;
  gap: 15px;
}
.control-folder__name {
  font-weight: var(--font-bold);
  letter-spacing: 1px;
}

.control-folder__description {
  color: var(--gray);
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
}

.control-folder__info {
  font-size: 14px;
}

.control-folder__info__mark {
  font-size: 16px;
  font-weight: var(--font-bold);
}

/*CONTROL input*/

.control-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  margin-bottom: 10px;
}

.control-input__label {
  transition: 0.25s;
}

.control-input:has(.control-input__input-element:focus) .control-input__label {
  color: var(--accent);
}

.control-input__input-element {
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.22);
}

.control-input:has(.control-input__disabled) {
  cursor: not-allowed;
}

.control-input__checkbox-input {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.control-input__disabled {
  color: var(--gray);
}

/*PHOTO INPUT*/
.photo-input__hidden-input-wrapper {
  height: 0px;
  overflow: hidden;
}

.photo-input__text {
  margin-bottom: 15px;
}

.photo-input__button {
  all: unset;
  padding: 4px 5px;
  background-color: var(--accent);
  color: #fff;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}
.photo-input__button:hover {
  filter: brightness(1.2);
}

.photo-input__button + .photo-input__button {
  margin-left: 15px;
}

.photo-input__text-selected {
  margin-top: 20px;
  margin-bottom: 10px;
}

.photo-input__preview-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.photo-input__preview-img {
  height: 250px;
  width: auto;
}
