.about {
  --about--back-image-w: 255px;
  --about--back-image-l: 15%;
  --about--back-image-b: 7%;
  --about--front-image-w: 320px;
  --about--front-image-l: 45%;
  --about--front-image-b: 12%;

  --about--title-size: 48px;

  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 520px;
  margin-bottom: 100px;
}

.about__images {
  position: relative;
  min-width: 50%;
}

.about__image-wrapper {
  position: absolute;
}

.about__image {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.44);
  object-fit: cover;
  width: 100%;
  aspect-ratio: 2/3;
}

.about__image-wrapper:nth-child(1) {
  left: var(--about--back-image-l);
  width: var(--about--back-image-w);
  bottom: var(--about--back-image-b);
}

.about__image-wrapper:nth-child(2) {
  left: var(--about--front-image-l);
  bottom: var(--about--front-image-b);
  width: var(--about--front-image-w);
}

.about__text-container {
  max-width: 435px;
  margin-right: 85px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  position: relative;
  font-size: var(--about--title-size);
  margin-bottom: 35px;
}

.about__title::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0px;
  transition: 0.9s;
}

.about__title::before {
  background-color: var(--accent);
  width: 0%;
  left: -60px;
}

.--titleInView::before {
  width: 150px;
  left: -30px;
}

.about__description {
  margin-bottom: 35px;
  letter-spacing: 1px;
}

.about__contact-info + .about__contact-info {
  margin-top: 10px;
}

@media screen and (max-width: 1400px) {
  .about {
    --about--back-image-w: 180px;
    --about--front-image-w: 230px;

    --about--back-image-l: 15%;
    --about--back-image-b: 8%;
    --about--front-image-l: 40%;
    --about--front-image-b: 10%;

    --about--title-size: 36px;
    height: 420px;
  }
}

@media screen and (max-width: 1050px) {
  .about {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    text-align: center;
    padding: 0px 0px 55px;
    margin-top: 25px;
  }
  .about__images {
    margin-bottom: 25px;
  }

  .about__image {
    position: static;
  }

  .about__text-container {
    align-items: center;
    max-width: 100%;
  }

  .about__title {
    width: fit-content;
  }
  .about__description {
    max-width: 60%;
  }
  .about__text-container {
    margin-right: 0px;
  }
}

@media screen and (max-width: 550px) {
  .about {
    --about--back-image-w: 140px;
    --about--front-image-w: 190px;

    --about--back-image-l: 15%;
    --about--back-image-b: 8%;
    --about--front-image-l: 40%;
    --about--front-image-b: 10%;
  }
  .about__description {
    max-width: 85%;
  }
}
