/* HERO */
.hero {
  --hero--header-size: 72px;
  --hero--subheader-size: 36px;
  --hero--menu-element-h: 220px;
  --hero--menu-element-w: 150px;
  padding-left: var(--padding-x);
  display: grid;
  overflow: hidden;
  grid-template-areas:
    "text photo"
    "text photo"
    "menu photo";
}

.hero__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__text__capture {
  font-size: var(--hero--subheader-size);
}

.hero__text__header {
  font-size: var(--hero--header-size);
  font-style: italic;
  font-weight: var(--font-bold);
  margin-bottom: 25px;
}

.hero__text__description {
  font-size: 16px;
  margin-bottom: 100px;
  max-width: 600px;
}

.hero__text__link {
  font-size: 20px;
  text-decoration: none;
  color: var(--accent);
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero__text__link > img {
  width: 40px;
}

.hero-photo__img {
  grid-area: photo;
  object-fit: cover;
  box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.44);
  border-top-left-radius: 15px;
  height: min(870px, calc(100vh - 100px));
  aspect-ratio: 2 / 3;
  justify-self: flex-end;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1350px) {
  .hero {
    --hero--header-size: 60px;
    --hero--subheader-size: 30px;
    --hero--menu-element-h: 200px;
    --hero--menu-element-w: 120px;
  }
}

@media screen and (max-width: 1230px) {
  .hero {
    --hero--header-size: 48px;
    --hero--subheader-size: 28px;
    --hero--menu-element-h: 150px;
    --hero--menu-element-w: 100px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .hero-photo__img {
    width: auto;
    aspect-ratio: 9 / 16;
  }
}

@media screen and (max-width: 1050px) {
  .hero {
    --hero--header-size: 43px;
    --hero--subheader-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
  }

  .hero-photo__img {
    aspect-ratio: 2 / 3;
    height: 580px;
  }

  .hero__text__description {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 950px) {
  .hero {
    grid-template-areas:
      "text"
      "menu";
    --hero--header-size: 48px;
    --hero--subheader-size: 28px;
    --hero--menu-element-h: 200px;
    --hero--menu-element-w: 120px;
  }

  .hero__text {
    padding: 30px 0;
    text-align: center;
    align-self: center;
    justify-self: center;
  }

  .hero-photo__img {
    display: none;
  }

  .hero__text__description {
    margin-bottom: 40px;
  }

  .hero__text__link {
    text-align: center;
    justify-content: center;
    text-decoration: underline;
  }

  .hero__text__link > img {
    display: none;
  }

  .hero-menu {
    justify-content: space-evenly;
    padding: 20px 0;
  }

  .hero-menu__element {
    padding: 10px 10px 20px;
    background-color: white;
    box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.44);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  .hero-menu__element__photo {
    border-radius: 5px;
  }

  .hero-menu::before,
  .hero-menu::after {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    --hero--header-size: 42px;
    --hero--subheader-size: 23px;
    --hero--menu-element-h: 160px;
    --hero--menu-element-w: 100px;
    padding-left: 0;
  }

  .hero-menu {
    gap: 10px !important;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    --hero--header-size: 36px;
    --hero--subheader-size: 23px;
    --hero--menu-element-h: 180px;
    --hero--menu-element-w: 130px;
  }

  .hero__text__description {
    padding: 0 20px;
    margin-bottom: 25px;
  }

  .hero-menu {
    flex-wrap: wrap;
  }
}

/* HERO MENU */
.hero-menu {
  grid-area: menu;
  display: flex;
  gap: 10px 30px;
  width: 100%;
  align-self: flex-start;
  position: relative;
}

.hero-menu__element {
  position: relative;
  width: var(--hero--menu-element-w);
  height: var(--hero--menu-element-h);
}

.hero-menu__element__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.35s;
  cursor: pointer;
}

.hero-menu__element__hover-svg {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-menu__element:hover .hero-menu__element__hover {
  opacity: 1;
}

.hero-menu__element > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-menu::after {
  content: "";
  position: absolute;
  height: 1px;
  top: -25px;
  left: 0px;
  width: 150px;
  background-color: var(--gray);
}

.hero-menu::before {
  content: "";
  position: absolute;
  height: 100px;
  top: px;
  left: -25px;
  width: 1px;
  background-color: var(--gray);
}
