.navbar {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: black;
  font-size: 16px;
  position: relative;
}

.navbar::after {
  position: absolute;
  left: 5%;
  bottom: 0px;
  content: "";
  width: 45%;
  height: 1px;
  background-color: #d4d4d4;
}

.navbar__heading {
  font-size: 20px;
  font-weight: var(--font-bold);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar__link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.navbar__link::before {
  content: "";
  height: 1px;
  background-color: var(--accent);
  width: 0px;
  position: absolute;
  bottom: 0;
  left: -15px;
  transition: 0.35s ease-in-out;
}
.navbar__link:hover::before {
  width: 69%;
  left: -5px;
}

@media screen and (max-width: 500px) {
  .navbar {
    height: fit-content;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
  }
  .navbar__heading {
    position: static;
    transform: none;
  }

  .navbar::after {
    position: absolute;
    left: 50%;
    width: 45%;
    transform: translateX(-50%);
  }
}
