.portfolio-layout {
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio__highlighted {
  padding: 0px var(--padding-x);
}

.portfolio__albums-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 30px 10px;
  justify-content: space-between;
}

.portfolio__albums {
  background-color: var(--bg-dark);
  padding: 50px var(--padding-x);
  color: #fff;
}

.portfolio__albums-list > .folder {
  justify-self: center;
}
.portfolio__albums-title {
  font-size: 35px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1110px) {
  .portfolio__albums-list {
    height: calc(220px * 2 + 45px);
  }
}
