.control {
  --control--active-color: #d87093;
  --control--heading-size: 24px;

  --control--section-title-size: 18px;

  width: 95vw;
  height: fit-content;
  margin: 30px auto;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.control__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0px 5px 10px;
}

.control__heading {
  font-size: var(--control--heading-size);
}

.control__link {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  color: var(--control--active-color);
}

.control__image {
  max-height: 200px;
}

.control__button {
  all: unset;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.25s;
}

.control__button:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: #222;
}

.control__button + .control__button {
  margin-left: 20px;
}

/*CONTROL - section*/
.control-section {
  padding: 5px;

  display: grid;
  grid-template-rows: max-content max-content 0fr;
  transition: grid-template-rows 0.35s;
}

.control-section__note {
  margin-left: 50px;
  font-size: 14px;
  color: var(--gray);
  font-style: italic;
}

.control-section__content {
  overflow: hidden;
  margin-top: 10px;
}

.--sectionExpanded {
  grid-template-rows: max-content max-content 1fr;
}

.control-section__head {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.control-section__title {
  font-size: var(--control--section-title-size);
  font-weight: var(--font-bold);
}

.control-section__expand-toggle {
  height: 30px;
  width: 30px;
  transition: 0.24s;
}
.--rotateToggle {
  transform: rotate(180deg);
}

/*CONTROL - folder list element*/
.control-folder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
}

.control-folder__head {
  display: flex;
  gap: 15px;
}
.control-folder__name {
  font-weight: var(--font-bold);
  letter-spacing: 1px;
}

.control-folder__description {
  color: var(--gray);
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
}

.control-folder__info {
  font-size: 14px;
}

.control-folder__info__mark {
  font-size: 16px;
  font-weight: var(--font-bold);
}

/*CONTROL - portfolio order*/

.control__portfolio-order__element {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.control__portfolio-order__change-order {
  width: 25px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  filter: brightness(1.25);
  transition: 0.34s;
}

.control__portfolio-order__change-order:nth-child(2) {
  transform: rotate(180deg);
}

.control__portfolio-order__change-order:hover {
  background-color: rgba(216, 112, 147, 0.2);
  cursor: pointer;
}
