.folder-page {
  padding: 40px var(--padding-x);
}

.folder-page__details {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.folder-page__back-url {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 20px;
}

.folder-page__photo-number > span {
  color: var(--accent);
}

.folder-page__description {
  color: var(--gray);
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 20px;
  text-align: center;
}

.folder-page__photos {
  columns: 400px;
}
.folder-page__photo {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

/*IMG VIEW*/
.img-view {
  position: fixed;
  z-index: 10000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.img-view__photo {
  width: auto;
  height: auto;

  max-width: 95vw;
  max-height: 90vh;
}

.img-view__close {
  text-align: center;
  color: var(--accent);
  text-decoration: underline;
  padding: 5px;
  cursor: pointer;
}
