.folder-page {
  padding: 40px var(--padding-x);
}

.folder-page__details {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.folder-page__back-url {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 20px;
}

.folder-page__photo-number > span {
  color: var(--accent);
}

.folder-page__description {
  color: var(--gray);
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 20px;
  text-align: center;
}

.folder-page__photos {
  columns: 400px;
}
.folder-page__photo {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

/*IMG VIEW*/
.img-view {
  position: fixed;
  z-index: 10000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  /*   width: 100px;
  height: 100px; */

  display: grid;
  grid-template-rows: 0fr max-content;
  grid-template-columns: 0fr;
  transition: grid-template-rows 0.5s ease-in-out,
    grid-template-columns 0.5s ease-in-out;
  overflow: hidden;
}

.img-view.--isLoaded {
  /*   width: fit-content;
  height: fit-content; */
  grid-template-rows: 1fr max-content;
  grid-template-columns: 1fr;
}

.img-view__wrapper {
  overflow: hidden;
}

.img-view__photo {
  width: 100%;
  height: auto;
  opacity: 0;

  max-width: 95vw;
  max-height: 90vh;
  transition: opacity 2s;
}

.img-view.--isLoaded .img-view__photo {
  opacity: 1;
}

.img-view__close {
  text-align: center;
  color: var(--accent);
  text-decoration: underline;
  padding: 5px;
  cursor: pointer;
}
