.arrow__nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 35px;
}

.arrow__nav-button {
  height: 100%;
  transition: 0.25s;
}
.arrow__nav-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
