.folder {
  --album-cover-size: 325px;
  --album-title-size: 24px;

  width: var(--album-cover-size);
  height: var(--album-cover-size);
  position: relative;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px 0px 5px 0px;
  overflow: hidden;
}

.folder__cover {
  object-fit: cover;
}

.folder__head {
  position: absolute;
  background-color: rgba(25, 25, 25, 0.9);
  width: 100%;
  display: flex;
  bottom: 0px;
  justify-content: space-between;
  height: auto;
  align-items: center;
}

.folder__name {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--font-bold);
  font-size: 18px;
}

.folder__view-button {
  all: unset;
  background-color: var(--accent);
  align-self: stretch;
  padding: 10px;
  transition: 0.25s;
  cursor: pointer;
}
.folder__view-button:hover {
  filter: brightness(1.2);
}
