*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-light: #fff;
  --bg-dark: #252525;
  --bg-gray: var(--gray);

  --gray: #878787;
  --gray-dark: #343434;

  --accent: #d87093;

  --font: "Arsenal", sans-serif;
  --font-regular: 400;
  --font-bold: 700;

  --padding-x: 75px;

  scroll-behavior: smooth;
}

@media screen and (max-width: 770px) {
  :root {
    --padding-x: 25px;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --padding-x: 15px;
  }
}

body {
  font-family: var(--font);
  background-color: var(--bg-light);
  overflow-x: hidden;
}

.contact-info {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}

.contact-info__icon {
  width: 20px;
}

.contact-info__text {
  font-size: 21px;
  text-transform: uppercase;
}

@media screen and (max-width: 1250px) {
  .contact-info__text {
    font-size: 16px;
    text-transform: uppercase;
  }
  .contact-info__icon {
    width: 13px;
  }
}

.general__link {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent);
}
