*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-light: #fff;
  --bg-dark: #252525;
  --bg-gray: var(--gray);

  --gray: #878787;
  --gray-dark: #343434;

  --accent: #d87093;

  --font: "Arsenal", sans-serif;
  --font-regular: 400;
  --font-bold: 700;

  --padding-x: 75px;

  scroll-behavior: smooth;
}

@media screen and (max-width: 770px) {
  :root {
    --padding-x: 25px;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --padding-x: 15px;
  }
}

body {
  font-family: var(--font);
  background-color: var(--bg-light);
  overflow-x: hidden;
}

.contact-info {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}

.contact-info__icon {
  width: 20px;
}

.contact-info__text {
  font-size: 21px;
  text-transform: uppercase;
}

.dialog-element {
  position: fixed;
  z-index: 10000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.dialog-element::backdrop {
  background: rgba(0, 0, 0, 0.54);
}

.dialog-element:focus {
  outline: none;
}

@media screen and (max-width: 1250px) {
  .contact-info__text {
    font-size: 16px;
    text-transform: uppercase;
  }
  .contact-info__icon {
    width: 13px;
  }
}

.general__link {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent);
}

.error-message {
  height: 22px;
  display: flex;
  align-items: center;
  color: rgb(155, 35, 35);
}
